.MovieCard-Data h2{
    color: #fff;
    font-size: 27px;
    font-weight: 400;
    padding: 13px 46px 1px;
    display: flex;
    justify-content: flex-start;
}

.basedComic .owl-nav .owl-prev{
    position: absolute;
    bottom: 29px !important;
    left: 27px !important;
    background-color: transparent !important;
}
.basedComic .owl-nav .owl-next{
    position: absolute;
    bottom: 28px;
    right: 63px;
    background-color: transparent !important;
}
.MovieCard-Data img{
    max-width: 170px;
    min-height: 205px;
    object-fit: cover;
}
.MovieCard-Data{
    position: relative;
}
.basedComic .owl-nav .owl-prev span,.basedComic .owl-nav .owl-next span {
    font-size: 85px;
    color: #fff;
    font-weight: 100;
    opacity: 0;
}
.owl-stage{
    transition: all 1.6s ease 0s !important;
}
.owl-main:hover .owl-prev span{
    opacity:1;
    transition: 0.6s;
}
.owl-main:hover .owl-next span{
    opacity:1;
    transition: 0.6s;
 }
 .img-main{
     position: relative;
 }
 .overlysAll{
     position: relative;
     transition: 0.4s;
 }
 .overlysAll::after{
    background: linear-gradient(to bottom , #0000004d ,#000000bd);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content: "";
    transition: 0.4s;
    opacity: 0;
 }
 .overlysAll:hover::after{
     opacity: 1;
 }

 /*---------- Media Query 1200px -------- */

 @media screen and (max-width:1200px){
.owl-carousel .owl-item img {
    display: block;
    width: 100%;
}
.MovieCard-Data img {
    max-width: 170px;
    min-height: 175px;
    object-fit: cover;
}
.MovieCard-Data h2 {
    font-size: 23px;
    padding: 13px 35px 1px;
}
.basedComic .owl-nav .owl-prev span,.basedComic .owl-nav .owl-next span {
    font-size: 80px;
}

  }
 /*---------- Media Query 991px-------- */
 @media screen and (max-width:991px) {
    .MovieCard-Data h2 {
        font-size: 19px;
        padding: 2px 31px 1px;
    }
    .MovieCard-Data img {
        max-width: 170px;
        min-height: 145px;
        object-fit: cover;
    }
    .basedComic .owl-nav .owl-next {
        bottom: 19px;
        right: 40px;
    }
    .basedComic .owl-nav .owl-prev {
        bottom: 17px !important;
        left: 29px !important;
    }
    .basedComic .owl-nav .owl-prev span,.basedComic .owl-nav .owl-next span {
        font-size: 70px;
    }

  }
 /*---------- Media Query 767px-------- */
 @media screen and (max-width:767px) {
    .basedComic .owl-nav .owl-next {
        display: none !important;
    }
    .MovieCard-Data img {
        max-width: 170px;
        min-height: 90px;
        object-fit: cover;
    }
    .MovieCard-Data h2 {
        font-size: 15px;
        padding: 2px 8px 1px;
    }
 }